* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image:linear-gradient(30deg, #182C51, #09101e);
    overflow: hidden;
}