* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: lightsteelblue;
    line-height: 1.6;
    display: grid;
    grid-template-areas: 
    "header header"
    "main sidebar"
    "main form"
    "footer footer";
    grid-template-columns: 1fr 250px;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    grid-area: header;
    text-align: center;
    background-color: lightslategray;
    padding: 2rem;
   border-radius: 10px;
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.607);
  }
main {
    grid-area: main;
}
.sidebar {
    grid-area: sidebar;
    background-color: rgba(0, 136, 255, 0.645);
    text-align: center;
    transition: all 0.3s ease;
    font-weight: bold;
}
.sidebar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    margin: 20px;
    background-color: tomato;
}
.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sidebar:hover a {
     box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.529);
      transform: translateY(-2px);
      background-color: #ff3814;
}
footer {
    grid-area: footer;
     text-align: center;
    background-color: lightslategray;
    padding: 2rem;
   border-radius: 10px;
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.607);
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}
.product {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: lightslategray;
    color: white;
    text-align: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.385);
}
.product img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#message {
   resize: vertical;
   overflow-y: auto;
   box-sizing: border-box;
   width: 100%;
   height: 150px;
   padding: 10px;
   border-radius: 10px;
}
#message:hover {
    border: 1px solid blue;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.384);
}
form {
  grid-area: form;
  margin: 10px;
}
  @media (max-width: 768px) {
  body {
    grid-template-areas: 
      "header"
      "main"
      "sidebar"
      "form"
      "footer";
    grid-template-columns: 1fr;
  }
} 