* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    background-color: cyan;
}
.dashboard {
    background-color: darksalmon;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 3px 3px 3px black;
    gap: 10px;
    padding: 10px;
    margin: 20px;
}

.header {
    grid-column: 1 / -1;
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.metric-card {
    background: rgba(20, 182, 98, 0.355);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.charts-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.chart {
    background: white;
    padding: 2rem;
    border-radius: 8px;
}
.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}