.phone-shop { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer";
    gap: 20px;
    height: 100vh;
}
.header {grid-area: header;}
.sidebar {grid-area: sidebar;}
.main   {grid-area: main;}
.footer {grid-area: footer;}