* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image:linear-gradient(30deg, #182C51, #09101e);
    overflow: hidden;
}
.moon {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: relative;
    background-image: linear-gradient(30deg, #13223f, #0e1a30);
}
.moon::before {
    content: "";
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%; 
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    animation: eclipse-animation 3.2s linear infinite alternate;
}